@import url('./card_kf.css');

#main > .box > .card {
  /* Info */
  & > .info {
    display: flex;
    width: 100%;
    height: 400px;
    /* justify-content: space-between; */

    & > .profile_img {
      width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & > .guide {
        /* width: 50%; */
        height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        box-shadow: 1px 2px 4px grey;
        transform: rotateX(90deg) rotateY(80deg) perspective(500px);
        opacity: 0;
        & > img {
          width: 90%;
          height: 90%;
          object-fit: contain;
          border-radius: 5px;
        }
        &.on {
          animation: 1s cardFlip forwards, 1s appear forwards;
        }
      }
    }
    & > .introduce {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      & strong {
        color: var(--emphasized-color);
      }
      & > .title {
        text-transform: capitalize;
        font-size: 2em;
        font-weight: 700;
      }
      & > .content {
        & > p {
          margin: 10px 0;
          font-weight: 600;
          font-size: 1.2em;
          &:first-child {
            text-transform: capitalize;
          }
        }
        & > .social {
          width: 100%;
          display: flex;
          & > li {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            position: relative;
            & > a {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              display: block;
            }
            & > svg {
              width: 100%;
              height: 100%;
              cursor: pointer;
              transition: 0.2s fill ease;
            }
            &:hover > svg {
              fill: var(--emphasized-color);
            }
          }
        }
      }
    }
  }

  /* Stack */
  & > .stack {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > .item {
      width: 22%;
      height: 300px;
      background-color: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 1px 2px 6px grey;
      margin-bottom: 60px;
      opacity: 0;
      transform-origin: top;

      & > .icon {
        margin-bottom: 10px;

        & > img,
        & > svg {
          fill: var(--emphasized-color);
          width: 40px;
          height: 40px;
        }
      }
      & > .stack_name {
        margin-bottom: 20px;
        font-size: 2em;
        font-weight: 800;
      }
      & > .stack_describe {
        & > menu {
          & > li {
            margin: 5px 0;
            font-weight: 500;
            font-size: 1.1em;
            &::before {
              content: '📌';
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  /* Portfolio */
  & > .portfolio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > .item {
      width: 400px;
      height: 300px;
      border: 1px lightgrey solid;
      padding: 10px;
      margin-bottom: 60px;
      box-shadow: 2px 1px 4px grey;
      transform: scale(1);
      transition: 0.2s transform ease, 0.2s box-shadow ease;
      cursor: pointer;
      position: relative;

      &:hover {
        transform: scale(1.02);
        box-shadow: 4px 2px 6px grey;
      }

      & > a {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        position: absolute;
      }
      & > .project_preview {
        width: 100%;
        height: 75%;
        margin-bottom: 5px;
        & > img {
          width: 100%;
          height: 100%;
          object-position: center;
          border-radius: 5px;
        }
      }
      & > .project_subject {
        color: var(--emphasized-color);
        text-transform: uppercase;
        font-weight: 800;
      }
      & > .project_name {
        text-transform: capitalize;
        font-weight: 900;
        font-size: 1.8em;
      }
    }
  }

  /* Contact */
  & > .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > .contact_info {
      width: 30%;

      & > li {
        display: flex;
        align-items: center;
        border: 1px lightgrey solid;
        padding: 10px 20px;
        margin-bottom: 18px;
      }
      & > li > .icon {
        width: 30px;
        height: 30px;
      }
      & > li > .content {
        margin-left: 20px;
        & > p:first-child {
          font-size: 1.3em;
          font-weight: 800;
        }
        & > p:first-child {
          text-transform: capitalize;
        }
        & > p:last-child {
          font-weight: 600;
        }
      }
    }
    & > .contact_form {
      width: 65%;
      border: 1px lightgrey solid;
      padding: 20px;

      & > label {
        & > p {
          width: fit-content;
          font-size: 1.4em;
          margin-bottom: 10px;
          position: relative;
          &::after {
            position: absolute;
            content: '*';
            color: orangered;
            top: 0;
            right: -10px;
          }
        }
        & > textarea,
        & > input {
          margin-bottom: 10px;
          border: 1px solid lightgrey;
          outline: none;
          border-radius: 5px;
          padding: 10px 10px;
          font-size: 1.2em;
          font-family: 'Noto Sans KR', serif;
          transition: 0.2s outline ease;
          outline: 1px solid transparent;

          &:focus {
            outline: 1px solid var(--emphasized-color);
          }
        }
        & > .sender_name {
          width: 100%;
        }
        & > .sender_email {
          width: 100%;
        }
        & > .sender_message {
          width: 100%;
          height: 300px;
          resize: none;
        }
      }
      & > .send_btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f68b00;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2em;
        transition: 0.2s background-color ease;
        &:hover {
          background-color: var(--emphasized-color);
        }
      }
    }
  }
}
