@import url("./card_kf.css");

#main > .main_box_space > .main_box_wrap {
  /* Contact */
  & > .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > .contact_info {
      width: 30%;

      & > li {
        display: flex;
        align-items: center;
        border: 1px lightgrey solid;
        padding: 10px 20px;
        margin-bottom: 18px;
      }
      & > li > .icon {
        width: 30px;
        height: 30px;
      }
      & > li > .content {
        margin-left: 20px;
        & > p:first-child {
          font-size: 1.3em;
          font-weight: 800;
        }
        & > p:first-child {
          text-transform: capitalize;
        }
        & > p:last-child {
          font-weight: 600;
        }
      }
    }
    & > .contact_form {
      width: 65%;
      border: 1px lightgrey solid;
      padding: 20px;

      & > label {
        & > p {
          width: fit-content;
          font-size: 1.4em;
          margin-bottom: 10px;
          position: relative;
          &::after {
            position: absolute;
            content: "*";
            color: orangered;
            top: 0;
            right: -10px;
          }
        }
        & > textarea,
        & > input {
          margin-bottom: 10px;
          border: 1px solid lightgrey;
          outline: none;
          border-radius: 5px;
          padding: 10px 10px;
          font-size: 1.2em;
          font-family: "Noto Sans KR", serif;
          transition: 0.2s outline ease;
          outline: 1px solid transparent;

          &:focus {
            outline: 1px solid var(--emphasized-color);
          }
        }
        & > .sender_name {
          width: 100%;
        }
        & > .sender_email {
          width: 100%;
        }
        & > .sender_message {
          width: 100%;
          height: 300px;
          resize: none;
        }
      }
      & > .send_btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #f68b00;
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-size: 1.2em;
        transition: 0.2s background-color ease;
        &:hover {
          background-color: var(--emphasized-color);
        }
      }
    }
  }
}
