#container {
  width: 90%;
  min-width: 1340px;
  height: 90%;
  background-color: aliceblue;
  margin: 20px auto;
  border-radius: 15px 0 15px 0;
  border: 1px grey solid;
  box-shadow: 5px 5px 5px grey, 0px 7px 2px grey;
  padding: 10px 20px;
  box-sizing: border-box;
}
