/* Features Box */
#main > .features_box {
  & > .main_box_contents {
    & > .features_box_list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > .features_box_item {
        width: 300px;
        height: 300px;
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 1px 2px 6px grey;
        margin-bottom: 60px;
        opacity: 0;
        transform-origin: top;

        & > .feature_icon {
          margin-bottom: 10px;

          & > img,
          & > svg {
            fill: var(--emphasized-color);
            width: 40px;
            height: 40px;
          }
        }
        & > .feature_name {
          margin-bottom: 20px;
          font-size: 2em;
          font-weight: 800;
        }
        & > .feature_describe {
          & > menu {
            & > li {
              margin: 5px 0;
              font-weight: 500;
              font-size: 1.1em;
              &::before {
                content: "📌";
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
