/* Pre-work */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(250, 250, 250);

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  width: 1000px;
  height: 810px;
  background-color: coral;
}

/* Header */
#header {
  height: 130px;
  background-color: orange;
  display: flex;
  position: relative;
}
#header > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 180px;
  height: 70px;
  background-color: white;
  left: 15px;
  top: 10px;
}
#header > .user_menu {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
}
#header > .user_menu > a {
  border-left: 2px solid black;
  padding: 0 5px;
  box-sizing: content-box;
  transition: 0.2s ease;
}
#header > .user_menu > a:hover {
  background-color: black;
  color: white;
}
#header > .user_menu > a:first-child {
  border: 0px;
}
#header > .social_menu {
  position: absolute;
  bottom: 45px;
  right: 15px;
}
#header > .social_menu > a {
  margin: 0 5px;
}
#header > .social_menu > a > img {
  width: 35px;
  height: 35px;
}
#header > .nav {
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header > .nav > .btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  border: 1px solid black;
}
#header > .nav > .btn:hover {
  background-color: dodgerblue;
}

/* main */
#main {
  position: relative;
  width: 100%;
  height: 590px;
  background-color: yellow;
}
#main .card {
  border: 2px dashed black;
  background-color: aliceblue;
}
#main .card:hover {
  background-color: lightgrey;
  transition: 0.2s ease;
}
#main > .big {
  position: absolute;
  top: 80px;
  left: calc(50% - 250px);
  width: 500px;
  height: 300px;
}
#main > .preview_list {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
}
#main > .preview_list > .small {
  width: 100px;
  height: 60px;
}

/* Footer */
#footer {
  background-color: darkolivegreen;
  height: 90px;
  display: flex;
}
#footer > .logo {
  width: 200px;
  height: 100%;
  background-color: aliceblue;
  border: 1px solid black;
}
#footer > .info {
  width: calc(100% - 200px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
