* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  display: none;
}
html,
body {
  height: 100%;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}
.container {
  position: relative;
  margin: 20px auto;
  width: 393px;
  height: 852px;
  background-color: aliceblue;
  border-radius: 20px;
  border: 5px black solid;
  overflow: hidden;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
