/* Footer */
#footer {
  width: 1340px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  top: -100px;
  background-color: var(--main-color-light);
  display: flex;

  /* Logo Section */
  & > .logo {
    width: 250px;
    height: 100%;
    border-right: 2px dashed var(--bg-color);
    position: relative;
    & > a {
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: grayscale(100);
    }
  }

  /* division */
  & > .column {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    flex-direction: column;

    /* Menu Section */
    & > .menu {
      flex: 1;
      width: 100%;
      border-bottom: 2px dashed var(--bg-color);
      display: flex;
      align-items: center;
      padding-left: 50px;

      & > .list {
        display: flex;

        & > .item {
          padding: 0px 10px;
          border-right: 2px solid var(--main-color-deep);
          &:last-child {
            border-right: 0px;
          }
          transition: 0.4s background-color ease;

          &:hover {
            background-color: var(--main-color);
            & > a {
              color: var(--bg-color);
            }
          }

          & > a {
            width: 100%;
            height: 100%;
            font-size: 1.1em;
            transition: 0.6s color ease;
          }
        }
      }
    }

    /* Copyright Section */
    & > .copyright {
      flex: 1;
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 60px;
    }
  }
}
