/* Register */
.reg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #000;
  width: 100%;
  height: 60px;

  & > .wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logoBox {
      width: 111px;
      height: 100%;
      display: flex;
      align-items: center;
      & > svg {
        width: 100%;
        fill: red;
      }
    }

    & > .formBox {
      display: flex;
      height: 60%;
      align-items: center;

      & > p {
        color: white;
      }
      & > button {
        color: white;
        border-radius: 4px;
        height: 100%;
        padding: 0 30px;
        font-size: 1.1rem;

        &:nth-child(2) {
          background-color: red;
          border: none;
          margin: 0 6px;
        }

        &:nth-child(3) {
          background-color: transparent;
          border: 1px solid white;
        }
      }
    }
  }
}

/* Main Zone */
.main {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  background: url('../images/visual1.jpg') center/cover no-repeat;
  position: relative;
  height: 45vw;
  max-height: 850px;

  /* Gradation */
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 60%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(
      to right,
      rgba(24, 24, 24, 1) 0%,
      rgba(24, 24, 24, 0.9) 10%,
      rgba(24, 24, 24, 0.8) 20%,
      rgba(24, 24, 24, 0.7) 30%,
      rgba(24, 24, 24, 0.6) 40%,
      rgba(24, 24, 24, 0.5) 50%,
      rgba(24, 24, 24, 0.4) 60%,
      rgba(24, 24, 24, 0.3) 70%,
      rgba(24, 24, 24, 0.2) 80%,
      rgba(24, 24, 24, 0.1) 90%,
      rgba(24, 24, 24, 0) 100%
    );
  }

  & > .wrap {
    position: absolute;
    z-index: 2;
    width: 514px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1vw;

    & > img {
      max-width: 80%;
    }
    & > h3 {
      color: white;
      margin-top: 32px;
      margin-bottom: 16px;
      font-size: 1.8em;
      font-weight: bold;
    }
    & > p {
      color: white;
      &:nth-of-type(1) {
        margin-top: 12px;
        font-size: 0.7em;
        color: gray;
        & > span {
          border: 1px solid gray;
          padding: 0 5px;
        }
      }
      &:nth-of-type(2) {
        margin-top: 12px;
        line-height: 1.6em;
        font-size: 1em;
      }
      &:nth-of-type(3) {
        margin-top: 16px;
        font-size: 0.8em;
        & > span {
          color: gray;
        }
      }
    }
  }
}

@media all and (min-width: 1800px) {
  /* Main Zone */
  .main {
    padding: 0;
    height: 800px;
  }
}

/* Banner Zone */
.banner {
  width: 90%;
  max-width: 1800px;
  background: linear-gradient(90deg, #6c1f41 0.5%, #220e0f 99.5%);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 20px black;

  & > .logo {
    width: 28px;
    padding: 16px;
    margin-left: 20px;
    & > svg {
      width: 100%;
    }
  }

  & > .member {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1vw;

    & > h3 {
      color: white;
      font-size: 1.4em;
      font-weight: bold;
    }
    & > button {
      color: white;
      height: 60%;
      background-color: red;
      border: none;
      margin: 0 6px;
      font-size: 1.2em;
      padding: 10px 80px;
    }
  }
}
