* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
a:visited,
a:link {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
:root {
  --main-color: #999;
  --sub-color: #666;
  --highlight-color: #000;
  --background-color: #fff;
  --text-color: #333;
}
#wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
