/* Header */

#header {
  width: 200px;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sub-color);
}

#header > .logo {
  width: 100%;
  height: 150px;
  border-bottom: var(--background-color) 2px dashed;
  display: flex;
  align-items: center;
  & > a {
    width: 100%;
    height: 70%;
    display: block;
    & > img {
      height: 100%;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }
}
#header > .menu {
  display: flex;
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-direction: column;
}
#header > .menu > li {
  width: 100%;
  height: 40px;
  display: flex;
  position: relative;
  border: 1px solid var(--highlight-color);
  border-bottom: 0px;
  background-color: var(--background-color);
  transition: 0.2s background-color ease;

  &:last-child {
    border-bottom: 1px solid var(--highlight-color);
  }
  &:hover {
    background-color: var(--highlight-color);
    & > .title {
      color: var(--background-color);
    }
  }
}
#header > .menu > li > .title {
  width: 100%;
  font-size: 1.1em;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  transition: 0.6s color ease;
}
#header > .menu > li:hover > .sub {
  width: 100%;
  border: 1px solid black;
  transition: 0.2s width ease;
}
#header > .menu > li > .sub {
  position: absolute;
  width: 0%;
  top: -1px;
  left: 100%;
  z-index: 5;
  overflow-x: hidden;

  & > li {
    width: 100%;
    height: 40px;
    background-color: var(--text-color);
    opacity: 0.8;
    transition: 0.2s background-color ease;
    border-bottom: 1px solid var(--highlight-color);
    &:last-child {
      border-bottom: 0px;
    }
    &:hover {
      background-color: var(--highlight-color);
      opacity: 1;
    }
  }
  & > li > a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 40px;
    color: var(--background-color);
  }
}
