/* Modal */
#modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s opacity ease;

  &.on {
    z-index: 10;
    opacity: 1;
  }
}

#modal > .popup {
  width: 40%;
  height: 50%;
  background-color: var(--background-color);
  border-radius: 5px;

  & > .title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--highlight-color);
    padding: 0 20px;
    font-size: 2em;
    line-height: 60px;
    font-weight: 700;
  }
  & > .context {
    width: 100%;
    height: calc(100% - 120px);
    padding: 10px 20px;
    font-size: 1.2em;
    line-height: 30px;
    /* text-decoration: underline; */
  }
  & > .quit {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: end;
    align-items: center;

    & > .btn {
      width: 80px;
      height: 100%;
      display: flex;
      padding: 5px;
      margin-right: 20px;
      border: 2px solid var(--sub-color);
      border-radius: 5px;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      transition: 0.2s background-color ease, 0.4s fill ease, 0.4s color ease;
      & > svg {
        width: 20px;
        height: 20px;
      }
      &:hover {
        background-color: var(--sub-color);
        color: var(--background-color);
        fill: var(--background-color);
      }
    }
  }
}
