@keyframes shake {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -10px);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
