* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
}
a {
  text-decoration: none;
}
#container {
  width: 1200px;
  background-color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.6), -4px 4px 6px rgba(0, 0, 0, 0.6);
}
.flexcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  color: #5e1742;
  text-shadow: 4px 0px 0 #c9463d, 0px 4px 0 #c9463d, 4px 4px 0 #c9463d;
  font-weight: 800;
  font-size: 2em;
  letter-spacing: -0.1em;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

/* Header */
#header {
  width: 1200px;
  height: 60px;
  /* background-color: dodgerblue; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#header .nav {
  width: 800px;
  position: relative;
}

#header .nav ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .nav ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e1742;
  transition: 0.2s ease;
}
#header .nav ul li a {
  color: white;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
}
#header .nav ul li:hover {
  background-color: #84205c;
  cursor: pointer;
}
#header .nav .category {
  position: absolute;
  background-color: #84205c;
  width: 100%;
  height: 0;
  z-index: 1;
  top: 60px;
  /* display: none; */
  display: flex;
  justify-content: space-around;
  transition: 0.2s ease;
  overflow: hidden;
}
#header .nav:hover .category {
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 0 0 10px 10px;
}
#header .nav .category dl {
  width: 100%;
  height: 100%;
}
#header .nav .category dl dt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
#header .nav .category dl dt:hover {
  background-color: #d03291;
}
#header .nav .category dl dt a {
  color: white;
}

/* Slide */
#slide {
  width: 1200px;
  height: 300px;
  background-color: lightcoral;
  margin: auto;
  background: url('./img/img1.jpg') center/cover no-repeat;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#slide .info {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.6em;
  font-weight: 600;
  padding: 10px 120px;
  transition: 0.2s ease;
}
#slide .info:hover {
  /* font-size: 1.7em; */
  background-color: rgba(0, 0, 0, 0.6);
}

/* Content */
#content {
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
/* section bbs */
#content .bbs {
  width: 395px;
  height: 200px;
  position: relative;
}
#content .bbs .tab {
  display: flex;
}
#content .bbs .tab h3 {
  border: 1px solid lightgray;
  border-bottom: 0;
  width: 90px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: lightgray;
  cursor: pointer;
  font-size: 1em;
  font-weight: 200;
}
#content .bbs .tab .ov {
  background-color: white;
  display: block;
}
#content .bbs .dis {
  display: none;
}
#content .bbs .subject {
  position: absolute;
  width: 100%;
  height: 160px;
  z-index: 1;
  top: 40px;
  left: 0;
  /* background-color: darkcyan; */
  border: 1px solid lightgray;
}
#content .bbs .subject ul {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}
#content .bbs .subject li {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
}
#content .bbs .subject li a {
  text-decoration: none;
  color: grey;
}
#content .bbs .subject li:nth-child(2n) {
  background-color: lightgrey;
}
#content .bbs .pic {
  position: absolute;
  width: 400px;
  height: 160px;
  z-index: 1;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid lightgrey;
}
#content .bbs .pic ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#content .bbs .pic li {
  width: 33.3%;
  height: 90px;
  text-align: center;
}

/* section banner */
#content .banner {
  width: 395px;
  height: 200px;
  /* background-color: darkgreen; */
  background: url('./img/banner.jpg');
  cursor: pointer;
}
#content .direct .info,
#content .banner .info {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px 120px;
  transition: 0.2s ease;
  text-align: center;
}
#content .direct:hover .info,
#content .banner:hover .info {
  background-color: rgba(0, 0, 0, 0.6);
}

/* section direct*/
#content .direct {
  width: 395px;
  height: 200px;
  /* background-color: darkorange; */
  background: url('./img/shortcut.jpg');
  cursor: pointer;
}

/* Footer */
#footer {
  width: 1200px;
  height: 100px;
  background-color: #5e1742;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .logo {
  color: #3a3a3a;
  text-shadow: 4px 0px 0 rgb(131, 131, 131), 0px 4px 0 rgb(131, 131, 131),
    4px 4px 0 rgb(131, 131, 131);
}
#footer .copyRight {
  width: 500px;
  color: white;
}
#footer .social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100%;
  /* background-color: grey; */
  margin-right: 10px;
}
#footer .social div {
  width: 50px;
  height: 50px;
  &:nth-child(1) {
    background: url('./img/sns1.jpg') center/cover;
    border-radius: 5px;
  }
  &:nth-child(2) {
    background: url('./img/sns2.jpg') center/cover;
    border-radius: 5px;
  }
  &:nth-child(3) {
    background: url('./img/sns3.jpg') center/cover;
    border-radius: 5px;
  }
}
