/* Main */
#main {
  width: 100%;
  height: 730px;
  overflow-y: scroll;
}

#main > section {
  box-sizing: border-box;
  padding: 0 10px;
  margin: 10px 0;
  & .title {
    height: 30px;
    color: hsl(210, 100%, 55%);
    font-size: 1.1em;
    font-weight: 800;
    /* font-style: italic; */
  }
}

#main > .slide {
  width: 100%;
  height: 250px;
  padding: 0;
  box-shadow: 0 2px 4px grey;
  margin-top: 0px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;

  & > .screen {
    display: flex;
    flex-wrap: wrap;
    width: 300%;
    height: 100%;
    position: absolute;
    transition: 1s ease;
  }
  & > .screen > div {
    width: calc(100% / 3);
    height: 100%;
    cursor: pointer;
    &:nth-child(1) {
      background: url('https://cdn.pixabay.com/photo/2015/07/21/22/47/keyboard-854530_1280.jpg')
        center/cover no-repeat;
    }
    &:nth-child(2) {
      background: url('https://cdn.pixabay.com/photo/2024/04/17/01/59/mechanical-keyboard-8701176_1280.png')
        center/cover no-repeat;
    }
    &:nth-child(3) {
      background: url('https://cdn.pixabay.com/photo/2015/02/03/02/14/keyboard-621830_960_720.jpg')
        center/cover no-repeat;
    }
  }
  & > .dots {
    width: 100%;
    height: fit-content;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;

    & > div {
      margin: 4px;
      width: 10px;
      height: 10px;
      background-color: dodgerblue;
      /* border: 2px aliceblue solid; */
      opacity: 0.4;
      border-radius: 20px;
      transition: 1s ease;
      cursor: pointer;
      &.on {
        opacity: 0.8;
        transform: scale(1.2);
      }
    }
  }
}

#main > .store {
  width: 100%;
  height: 100px;

  & dl {
    width: 100%;
    height: 70px;
    display: flex;
    overflow-x: scroll;
    align-items: center;
  }
  & dt,
  & dd {
    margin: 0 15px;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightblue;
    box-sizing: border-box;
    border: 5px solid white;
    box-shadow: 0 4px 4px lightgrey, 4px 0 4px lightgrey;
    transition: 0.2s ease all;
    cursor: pointer;
    overflow: hidden;
    &:hover {
      background-color: dodgerblue;
      transform: scale(110%);
    }

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#main > .news {
  width: 100%;
  height: 250px;
  & > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: end;

    & > p:last-child {
      padding: 4px 6px;
      border-radius: 50px;
      font-size: 0.8em;
      font-weight: 600;
      transition: 0.2s ease;
      &:hover {
        background-color: #c6e3ff;
      }
    }
  }
  & > .newsList {
    & > dt,
    & > dd {
      width: 100%;
      height: 43px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed grey;
      transition: 0.2s ease;
      cursor: pointer;
      & > p:last-child {
        font-size: 0.8em;
        color: grey;
      }
      &:hover {
        background-color: #c6e3ff;
      }
    }
  }
}

#main > .reviews {
  width: 100%;
  height: 250px;

  & > menu {
    width: 100%;
    height: 220px;
    display: flex;
    overflow-x: scroll;
    & > li {
      min-width: 180px;
      height: 120px;
      background-color: #c6e3ff;
      border-radius: 5px;
      margin: 10px;
    }
  }
}
